
<h1>Imports</h1>

<table id="contacts">
  <thead>
    <tr>
      <th>ID</th>
      <th>STATUS</th>
      <th>CREATED</th>
      <th>ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id%></td>
        <td><%= import.status%></td>
        <td><%= import.created_at%></td>
        <td><%= link_to 'Show', import %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import', new_import_path, :class => "button" %>

<%= render template: 'contacts/index' %>
