
<%= render template: 'contacts/index' %>



<h1>Contacts failed to create</h1>

<table id="contacts">
  <thead>
    <tr>
      <th>CSV ROW</th>
      <th>ISSUE</th>
    </tr>
  </thead>

  <tbody>
    <% @contact_failures.each do |c| %>
      <tr>
        <td><%= c.row %></td>
        <td><%= c.log %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
