
<h1>Contacts</h1>

<table id="contacts">
  <thead>
    <tr>
      <th>NAME</th>
      <th>DATE OF BIRTH</th>
      <th>PHONE</th>
      <th>ADDRESS</th>
      <th>EMAIL</th>
      <th>CREDIT CARD (last 4 digits)</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.birth_date %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.email %></td>
        <td><%= contact.credit_card_last_4_digits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
