<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'HOME', root_path, :class => "button"  %>
      <% if user_signed_in?  %>
        <%= link_to "Log out", destroy_user_session_path %>
    <% else %>
        <%= link_to "login", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
